{% extends 'myauth/base.html' %}
{% load cache %}
{% block style %}
    .avatar {
        width: 150px;
    }

{% endblock %}

{% block title %}
    About me
{% endblock %}

{% block body %}
<h1>User info</h1>
<div>
    Products available {% now 'u' %}
</div>
{% if user.is_authenticated %}
    <h2>Detail</h2>
    <div>
        {% if user.profile.avatar %}
            <img class="avatar" src="{{user.profile.avatar.url}}" alt="{{user.avatar.name}}">
        {% else %}
            Avatar has not uploaded yet
        {% endif %}
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Upload avatar</button>
        </form>
    </div>

    <p>Username: {{user.username}}</p>
    <p>First name: {{user.first_name}}</p>
    <p>Second name: {{user.last_name}}</p>
    <p>Bio: {{user.profile.bio}}</p>
{% else %}
    <h2>User is anonymus</h2>
{% endif %}
{% endblock %}