{% extends 'shopapp/base.html' %}

{% block title %}
Orders list
{% endblock %}

{% block body %}
<h1>Orders:</h1>
{% if not object_list %}
<h3>No orders yet</h3>
{% else %}
    <div>
        {% for order in object_list %}
            <p><a href="{% url 'shopapp:order_detail' pk=order.pk %}">Order id: {{order.pk}}</a></p>
            <p>Order by {% firstof order.user.first_name order.user.username%}</p>
            <p>Promocode: <code>{{order.promocode}}</code></p>
            <p>Delivery address: {{order.delivery_address}}</p>
            <p>Products in order:</p>
            <ul>
                {% for product in order.products.all %}
                    <li>{{product.name}} for {{product.price}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endif %}
<br>
<div>
    <a href="{% url 'shopapp:order_create' %}"
    >Create a new order</a>
</div>
<br>

{% endblock %}