{% extends 'shopapp/base.html' %}

{% block title %}
Orders list
{% endblock %}

{% block body %}
<h1>Orders:</h1>
{% if not orders %}
<h3>No orders yet</h3>
{% else %}
    <div>
        {% for order in orders %}
            <p>Order by {% firstof order.user.first_name order.user.username%}</p>
            <p>Promocode: <code>{{order.promocode}}</code></p>
            <p>Delivery address: {{order.delivery_address}}</p>
            <p>Products in order:</p>
            <ul>
                {% for product in order.products.all %}
                    <li>{{product.name}} for {{product.price}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}