{% extends 'shopapp/base.html' %}

{% block style %}
    .preview img {
        width: 250px;
    }
    .images {
        width: 400px;
    }
{% endblock %}

{% block title %}
Product # {{product.pk}}
{% endblock %}

{% block body %}
<h1>Product <strong>{{product.name}}</strong></h1>
<div>
    <div>Description: <em>{{product.description}}</em></div>
    <br>
    <div>Price: {{product.price}}</div>
    <br>
    <div class="preview">
        {% if product.preview %}
        <p>Preview:</p>
        <img src="{{product.preview.url}}" alt="{{product.preview.name}}">
        {% endif %}
    </div>
    <h3>Images:</h3>
    <div>
        {% for img in product.images.all %}
            <div>
                <img class="images" src="{{img.image.url}}" alt="{{img.image.name}}">
                <div>{{img.description}}</div>
            </div>
        {% empty %}
            <p>No images uploaded yet</p>
        {% endfor %}
    </div>
    <br>
    <div>Discount: {{product.discount}}</div>
    <br>
    <div>Created by {% firstof product.created_by.first_name product.created_by.username %}</div>
    <br>
    <div>Archived: {{product.archived}}</div>
    <br>
</div>
<br>
<div>
    <a href="{% url 'shopapp:product_update' pk=product.pk %}">Update product</a>
</div>
<br>
<div>
    <a href="{% url 'shopapp:product_delete' pk=product.pk %}">Archive product</a>
</div>
<br>
<div>
    <a href="{% url 'shopapp:products_list' %}">Return to products list</a>
</div>
<br>
{% endblock %}