{% extends 'shopapp/base.html' %}

{% block title %}
Products list
{% endblock %}

{% block body %}
<h1>Products:</h1>
{% if not products%}
<h3>No products yet</h3>
{% else %}
    <div>
    {% for product in products %}
        <div>
            <p><a href="{% url 'shopapp:products_detail' pk=product.pk %}">Name: {{product.name}}</a></p>
            <p>Price: ${{product.price}}</p>
            <p>Discount: {% firstof product.discount "no discount"%}</p>
        </div>
    {% endfor %}
    </div>
{% endif %}
<br>
<div>
    <a href="{% url 'shopapp:product_create' %}"
    >Create product</a>
</div>
<br>
{% endblock %}
